{name, "typespecs"}.
{description, "Common Erlang Type Specifications"}.
{homepage, "https://github.com/spawngrid/typespecs"}.
{url, {git, "https://github.com/spawngrid/typespecs.git","HEAD"}}.
{rebar_compatible, true}.
{applications, []}.
{authors, ["Yurii Rashkovskii <yrashk@gmail.com>"]}.
{license, "Public domain"}.
